<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme"
        android:name="com.eyadalalimi.islamic.sonya7rvreview.MyApp"
        tools:ignore="UnusedAttribute">

        <activity
            android:name="com.eyadalalimi.islamic.sonya7rvreview.MainActivityFist"
            android:exported="false"
            tools:ignore="IntentFilterExportedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.eyadalalimi.islamic.sonya7rvreview.qurankarim"
            android:label="@string/app"
            android:exported="false"/>
        <activity
            android:name="com.eyadalalimi.islamic.sonya7rvreview.Adkar_det"
            android:label="@string/da"
            android:exported="false"/>
        <activity
            android:name="com.eyadalalimi.islamic.sonya7rvreview.managerdb"
            android:label="@string/title_activity_managerdb"
            android:screenOrientation="fullSensor"
            android:exported="false"/>
        <activity
            android:name="com.eyadalalimi.islamic.sonya7rvreview.HijriActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false"/>
        <activity
            android:name="com.eyadalalimi.islamic.sonya7rvreview.ResitesName"
            android:label="@string/app"
            android:screenOrientation="fullSensor"
            android:exported="false"/>
        <activity
            android:name="com.eyadalalimi.islamic.sonya7rvreview.Sellings"
            android:exported="false"/>
        <activity
            android:name="com.eyadalalimi.islamic.sonya7rvreview.AyaList"
            android:label="@string/title_activity_aya_list"
            android:screenOrientation="fullSensor"
            android:exported="false"/>
        <activity
            android:name="com.eyadalalimi.islamic.sonya7rvreview.MyAdkarActivity"
            android:label="@string/da"
            android:exported="false"/>
        <activity
            android:name="com.eyadalalimi.islamic.sonya7rvreview.nbprayer.PrayerSettingsActivity"
            android:exported="false" />
        <activity
            android:name="com.eyadalalimi.islamic.sonya7rvreview.splash_screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.eyadalalimi.islamic.sonya7rvreview.Subha"
            android:label="@string/subhaaaa"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name="com.eyadalalimi.islamic.sonya7rvreview.asmaallah"
            android:label="@string/asmaaallah"
            android:exported="false"/>
        <activity
            android:name="com.eyadalalimi.islamic.sonya7rvreview.Stories"
            android:label="@string/stories2"
            android:exported="false"/>
        <activity
            android:name="com.eyadalalimi.islamic.sonya7rvreview.anbiya"
            android:label="@string/qissaanbiya"
            android:exported="false"/>
        <activity
            android:name="com.eyadalalimi.islamic.sonya7rvreview.sahaba"
            android:label="@string/qissassahaba"
            android:exported="false"/>
        <activity
            android:name="com.eyadalalimi.islamic.sonya7rvreview.Moajizat"
            android:label="@string/mo3jizat"
            android:exported="false"/>
        <activity
            android:name="com.eyadalalimi.islamic.sonya7rvreview.Islamic"
            android:label="@string/qissasislamic"
            android:exported="false"/>
        <activity
            android:name="com.eyadalalimi.islamic.sonya7rvreview.Lire_stories"
            android:label="@string/stories2"
            android:exported="false"/>
        <activity
            android:name="com.eyadalalimi.islamic.sonya7rvreview.Lira_anbiyaa"
            android:label="@string/qissassahaba"
            android:exported="false"></activity>
        <activity
            android:name="com.eyadalalimi.islamic.sonya7rvreview.nbautoazkar.Azkar_Auto_Activity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="GoogleAppIndexingWarning"
            android:exported="false"/>

        <receiver android:name="com.eyadalalimi.islamic.sonya7rvreview.nbautoazkar.ReciverNoti" />

        <activity
            android:name="com.eyadalalimi.islamic.sonya7rvreview.nbnawawi.NawawiyaActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false" />
        <activity
            android:name="com.eyadalalimi.islamic.sonya7rvreview.nbsahihboukhari.BukhariActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false"  />
        <activity
            android:name="com.eyadalalimi.islamic.sonya7rvreview.other.IndexActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false"   />
        <activity
            android:name="com.eyadalalimi.islamic.sonya7rvreview.nbprayer.PrayerActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false"    />

        <receiver android:name="com.eyadalalimi.islamic.sonya7rvreview.nbprayer.PrayerReceiver" />
        <provider
            android:name="com.eyadalalimi.islamic.sonya7rvreview.nbprayer.AssetsProvider"
            android:authorities="com.eyadalalimi.islamic.sonya7rvreview"
            android:exported="true"
            android:grantUriPermissions="true" />

        <activity
            android:name="com.eyadalalimi.islamic.sonya7rvreview.nbholyquran.QuranActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false"  />
        <activity
            android:name="com.eyadalalimi.islamic.sonya7rvreview.nbholyquran.QuranIndexActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false"   />
        <activity
            android:name="com.eyadalalimi.islamic.sonya7rvreview.nbholyquran.QuranSearchActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false"  />
        <activity
            android:name="com.eyadalalimi.islamic.sonya7rvreview.nbholyquran.TextActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false"  />
        <activity
            android:name="com.eyadalalimi.islamic.sonya7rvreview.nbholyquran.TafsirActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false"  />
        <activity
            android:name="com.eyadalalimi.islamic.sonya7rvreview.nbholyquran.E3rabActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false"  />
        <activity
            android:name="com.eyadalalimi.islamic.sonya7rvreview.nbholyquran.M3aniActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false"    />

        <service android:name="com.eyadalalimi.islamic.sonya7rvreview.LocalService" />
        <activity
            android:name="com.eyadalalimi.islamic.sonya7rvreview.CompassActivity"
            android:label="@string/qibla"
            android:screenOrientation="fullSensor"
            android:exported="false"     />
        <activity
            android:name="com.eyadalalimi.islamic.sonya7rvreview.nbmessage.activi.mainactivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false"  />
        <activity
            android:name="com.eyadalalimi.islamic.sonya7rvreview.nbmessage.activi.activitymsg"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false"    />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/aplication_admob_id" />

    </application>

</manifest>